.main-content .post {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
}

.main-content .post-header {
    display: flex;
    align-items: center;    
}

.main-content .post-header .author-icon {
    width: 40px;
    height: 40px;    
}

.main-content .post-header .author-icon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.main-content .post-header .author-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.main-content .post-header .author-name {
    font-weight: bold;
}

.main-content .post-header .post-time {
    font-size: 0.9em;
    color: #888;
}

.main-content .post-content {
    font-size: 1em;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-content .post-footer {
    display: flex;
    justify-content: space-between;
}