.message-footer {
    
    width: 100%;
    display: flex;
    justify-content: space-between
}

.message-footer input{

    width: 100%;
    margin: 8px;    
}

.message-footer button{

    width: 64px;
    margin: 8px 8px 8px 0px;    
    float: right;
    cursor: pointer;
}