.message-panel {    
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.message-header, .message-footer {
    background-color: #fff;    
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    position: sticky;
    z-index: 99;
}

.message-header {
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.message-footer {
    bottom: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.message-content {
    background-color: #f2f4f7;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    /* margin-top: 1px;
    margin-bottom: 1px; */
}