.main-footer {
    
    width: 100%;
    display: flex;
}

.main-footer div {
    flex: 1;        
}

.main-footer .wrap {
    display: flex;    
    padding: 5px;
    justify-content: center;
}

.main-footer .wrap img {
    cursor: pointer;
}

.main-footer .profile img {
    border-radius: 50%;
}