.footer {
    
    width: 100%;
    display: flex;
}

.footer div {
    flex: 1;        
}

.footer .wrap {
    display: flex;    
    padding: 5px;
    justify-content: center;
}

.footer .wrap img{
    cursor: pointer;
}

.footer .profile img{
    border-radius: 50%;
}