.main-header {
    
    width: 100%;
    display: flex;
}

.main-header div {
    flex: 1;        
}

.main-header .wrap {
    display: flex;
    padding: 5px;
    justify-content: center;
}

.main-header .wrap img {
    cursor: pointer;
}