.loading_page {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading_panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 640px;
    height: 100vh;
    border: 1px solid black;
}

.loading_box {
    background-color: #fff;
    width: 416px;
    height: 128px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading_box .wrap {
    width: 384px;
    height: 128px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid black;
}

.loading_box .wrap p {
    font-size: 32px;
    font-weight: 500;
}